body {
  padding: 5%;
  font-family: "Amatic SC", sans-serif;
  font-size: 25px;
  background-image: url("/static/images/backgroundMainLibrary2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: center;
}
.itemMenu {
  grid-column: 2;
  text-align: center;
}

.itemMenu h1 {
  font-weight: 800;
}
/* #mainIndexBlock {
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
} */

/* #mainIndexBlock h1 {
  font-weight: 800;
}

#mainIndexBlock ul {
  list-style: none;
}

#mainIndexBlock ul li {
  margin: 10px;
} */

/*li {
    list-style-type: none;
   }
   li:before {
    content: "\1F4D6";
    padding-right: 10px;
   }
*/

.book-title {
  color: gold;
}

.book-author {
  color: rgb(166, 33, 157);
}

.book-id {
  color: red;
}

.clrbtn {
  background-color: rgb(212, 230, 115);
  color: black;
  font-weight: 700;
  font-size: 25px;
  transition: all 0.3s ease;
}
.clrbtn:hover {
  background-color: rgb(245, 188, 66);
}

@font-face {
  font-family: "RubikBubbles-Regular";
  src: url("static/fonts/RubikBubbles-Regular.ttf") format("truetype");
}
